#main-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#main-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(55, 145, 214, 1);
    border-width: 0px;
    border-radius: 0px;
}
#main-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(55, 145, 214, 1);
}
#main-menu.navbar-default .navbar-nav>li>a:hover,
#main-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(175, 191, 204, 1);
    background-color: rgba(55, 145, 214, 1);
}
#main-menu.navbar-default .navbar-nav>.active>a,
#main-menu.navbar-default .navbar-nav>.active>a:hover,
#main-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(79, 127, 166, 1);
}
#main-menu.navbar-default .navbar-toggle {
    border-color: #4f7fa6;
}
#main-menu.navbar-default .navbar-toggle:hover,
#main-menu.navbar-default .navbar-toggle:focus {
    background-color: #4f7fa6;
}
#main-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #4f7fa6;
}
#main-menu.navbar-default .navbar-toggle:hover .icon-bar,
#main-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #3791d6;
}